body {
  margin     : 0;
  font-family: "Arial";
  font-weight: 400;
}

.container {
  width     : 1280px;
  margin    : 0 auto;
  box-sizing: border-box;
}

.page-header {
  width           : 100%;
  padding         : 50px;
  color           : #fff;
  background-color: #445161;
  box-sizing      : border-box;

}

.page-header:after {
  content         : "";
  display         : block;
  width           : 100%;
  clear           : both;
  background-color: #fff;
}

.page-header-wrp {
  float: left;
}

.page-header-title {
  margin   : 0 0 50px 0;
  font-size: 60px;
}

.page-header-list {
  margin : 0;
  padding: 0;
}

.page-header-list-item {
  padding        : 0 0 0 35px;
  font-size      : 20px;
  list-style-type: none;
  position       : relative;
  margin-bottom  : 12px;
}

.page-header-list-item:last-child {
  margin: 0;
}

.page-header-list-item:before {
  content            : "";
  display            : block;
  width              : 25px;
  height             : 25px;
  position           : absolute;
  top                : 2px;
  left               : 0;
  background-image   : url("../img/check_icon.png");
  background-size    : contain;
  background-position: center;
  background-repeat  : no-repeat;
}

.page-header-pic {
  display         : block;
  background-color: #fff;
  float           : right;
}

.about-prod {
  display        : flex;
  justify-content: space-between;
  padding        : 50px;
  box-sizing     : border-box;
}

.container-about-prod {
  width: 51%;
}

.header-about-prod {
  color        : #445161;
  font-size    : 30px;
  line-height  : 36px;
  margin       : 0;
  margin-bottom: 30px;
}

.about-prod-text {
  color        : #333333;
  font-size    : 16px;
  line-height  : 24px;
  padding      : 0;
  margin       : 0;
  margin-bottom: 20px;
}

.about-prod-text:last-child {
  margin: 0;
}

.about-prod-video {
  width           : 49%;
  width           : 430px;
  height          : 245px;
  background-color: #445161;

}

.dignity-pluses-prod {
  background-color: #f5f5f5;
  padding         : 50px 50px 30px 50px;
}

.header-dignity-pluses-prod {
  color        : #445161;
  font-size    : 30px;
  line-height  : 36px;
  text-align   : center;
  margin       : 0;
  margin-bottom: 29px;
}

.list-dignity-pluses-prod {
  column-count: 2;
  list-style  : none;
  padding     : 0;
  margin      : 0;
}

.list-dignity-pluses-prod-item {
  position   : relative;
  padding    : 0 0 0 40px;
  box-sizing : border-box;
  margin     : 0 0 20px 0;
  color      : #333333;
  font-size  : 16px;
  line-height: 24px;
}

.list-dignity-pluses-prod-item:before {
  content            : "";
  display            : block;
  width              : 32px;
  height             : 32px;
  position           : absolute;
  top                : 2px;
  left               : 0;
  background-image   : url("../img/plus_icon.png");
  background-size    : contain;
  background-position: center;
  background-repeat  : no-repeat;
}

.screenshots {
  padding       : 50px;
  padding-bottom: 20px;
}

.screenshots_h2 {
  color        : #445161;
  font-size    : 30px;
  line-height  : 36px;
  text-align   : center;
  margin       : 0;
  margin-bottom: 35px;

}

.list-screenshots {
  display        : flex;
  justify-content: space-between;
}

.list-screenshots-container {
  width       : 50%;
  margin-right: 16px;
}

.list-screenshots-item {
  display        : flex;
  justify-content: space-between;
  margin-bottom  : 30px;
}

.screenshots_img {
  background-color: #445161;
  margin-right    : 15px;
  width           : 34%;
}

.screenshots_text {
  width: 66%;
}

.screenshots_h3 {
  margin       : 0;
  margin-bottom: 15px;
  color        : #445161;
  font-size    : 24px;
  line-height  : 30px;
}

.screenshots_p {
  margin     : 0;
  color      : #333333;
  font-size  : 16px;
  line-height: 24px;
}

.reviews {
  background-color: #f5f5f5;
  display         : flex;
  flex-wrap       : wrap;
  justify-content : space-between;
  margin          : 0;
  padding         : 50px;
}

.reviews-head {
  color     : #445161;
  font-size : 30px;
  width     : 100%;
  text-align: center;
  margin    : 0 0 35px;
}

.reviews-item {
  display        : flex;
  justify-content: space-between;
  width          : 49%;
}

.reviews-item:nth-child(2),
.reviews-item:nth-child(3) {
  margin-bottom: 24px;
}

.reviews-img {
  width           : 75px;
  height          : 75px;
  background-color: #445161;
  border-radius   : 50%;
}

.reviews-text {
  width           : 82%;
  background-color: #ebebeb;
  box-sizing      : border-box;
  padding         : 16px;
  border-radius   : 5px;
  position        : relative;
}

.reviews-text::before {
  position    : absolute;
  content     : "";
  display     : block;
  border      : 13px solid transparent;
  border-right: 13px solid #ebebeb;
  top         : 25px;
  left        : -26px;
}

.reviews-text_p {
  margin     : 0;
  color      : #333333;
  font-style : italic;
  font-size  : 14px;
  line-height: 18px;

}

.reviews-text_a {
  text-decoration: none;
  color          : #989898;
  font-size      : 14px;
  line-height    : 18px;
  display        : block;
  margin-top     : 15px;
}


.price {
  display        : flex;
  flex-wrap      : wrap;
  justify-content: center;
  align-items    : flex-end;
  padding        : 50px 0;
}

.price-head {
  width      : 100%;
  text-align : center;
  margin     : 0 0 29px 0;
  font-size  : 30px;
  line-height: 36px;
  font-weight: normal;
  color      : #445162;
}

.price-item {
  border          : 2px solid #445162;
  background-color: #445162;
  color           : #ffffff;
  border-radius   : 7px;
  margin-right    : 45px;
  box-sizing      : border-box;
}

.price-item:last-child {
  margin-right: 0;
}

.price-item-head {
  text-align : center;
  box-sizing : border-box;
  font-size  : 24px;
  line-height: 30px;
  margin     : 17px auto;
  font-weight: normal;
}

.price-cost {
  font-size       : 40px;
  line-height     : 30px;
  color           : #445162;
  background-color: #ffffff;
  display         : inline-block;
  padding         : 18px 0;
  text-align      : center;
  width           : 100%;
}

.price-ol {
  font-size    : 14px;
  line-height  : 24px;
  margin-bottom: 0;
}

.price-button {
  text-align      : center;
  width           : 260px;
  height          : 40px;
  background-color: #ffffff;
  color           : #445162;
  border-radius   : 7px;
  margin          : 20px;
  font-size       : 18px;
  line-height     : 18px;
  font-weight     : bold;
}