body {
  margin     : 0;
  font-family: "Arial";
  font-weight: 400;
}

.container {
  width     : 1280px;
  margin    : 0 auto;
  box-sizing: border-box;
}

.page-header {
  width           : 100%;
  padding         : 50px;
  color           : #fff;
  background-color: #445161;
  box-sizing      : border-box;

}

.page-header:after {
  content         : "";
  display         : block;
  width           : 100%;
  clear           : both;
  background-color: #fff;
}

.page-header-wrp {
  float: left;
}

.page-header-title {
  margin   : 0 0 50px 0;
  font-size: 60px;
}

.page-header-list {
  margin : 0;
  padding: 0;
}

.page-header-list-item {
  padding        : 0 0 0 35px;
  font-size      : 20px;
  list-style-type: none;
  position       : relative;
  margin-bottom  : 12px;
}

.page-header-list-item:last-child {
  margin: 0;
}

.page-header-list-item:before {
  content            : "";
  display            : block;
  width              : 25px;
  height             : 25px;
  position           : absolute;
  top                : 2px;
  left               : 0;
  background-image   : url("../img/check_icon.png");
  background-size    : contain;
  background-position: center;
  background-repeat  : no-repeat;
}

.page-header-pic {
  display         : block;
  background-color: #fff;
  float           : right;
}

.about-prod {
  display        : flex;
  justify-content: space-between;
  padding        : 50px;
  box-sizing     : border-box;
}

.container-about-prod {
  width: 51%;
}

.header-about-prod {
  color        : #445161;
  font-size    : 30px;
  line-height  : 36px;
  margin       : 0;
  margin-bottom: 30px;
}

.about-prod-text {
  color        : #333333;
  font-size    : 16px;
  line-height  : 24px;
  padding      : 0;
  margin       : 0;
  margin-bottom: 20px;
}

.about-prod-text:last-child {
  margin: 0;
}

.about-prod-video {
  width           : 49%;
  width           : 430px;
  height          : 245px;
  background-color: #445161;

}

.dignity-pluses-prod {
  background-color: #f5f5f5;
  padding         : 50px 50px 30px 50px;
}

.header-dignity-pluses-prod {
  color        : #445161;
  font-size    : 30px;
  line-height  : 36px;
  text-align   : center;
  margin       : 0;
  margin-bottom: 29px;
}

.list-dignity-pluses-prod {
  column-count: 2;
  list-style  : none;
  padding     : 0;
  margin      : 0;
}

.list-dignity-pluses-prod-item {
  position   : relative;
  padding    : 0 0 0 40px;
  box-sizing : border-box;
  margin     : 0 0 20px 0;
  color      : #333333;
  font-size  : 16px;
  line-height: 24px;
}

.list-dignity-pluses-prod-item:before {
  content            : "";
  display            : block;
  width              : 32px;
  height             : 32px;
  position           : absolute;
  top                : 2px;
  left               : 0;
  background-image   : url("../img/plus_icon.png");
  background-size    : contain;
  background-position: center;
  background-repeat  : no-repeat;
}

.screenshots {
  padding        : 50px;
  padding-bottom : 20px;
  display        : flex;
  flex-wrap      : wrap;
  justify-content: space-between;
}

.screenshots_h2 {
  color        : #445161;
  font-size    : 30px;
  line-height  : 36px;
  text-align   : center;
  margin       : 0;
  margin-bottom: 35px;
  width        : 100%;
}

.list-screenshots-item {
  display        : flex;
  justify-content: space-between;
  margin         : 0 0 30px;
  width          : 49%;
  box-sizing     : border-box;
}

.screenshots_img {
  background-color: #445161;
  margin-right    : 14px;
  width           : 35%;
}

.screenshots_text {
  width: 65%;
}

.screenshots_h3 {
  margin     : -5px 0 5px;
  color      : #445161;
  font-size  : 24px;
  line-height: 30px;
}

.screenshots_p {
  margin     : 0;
  color      : #333333;
  font-size  : 16px;
  line-height: 24px;
}

.reviews {
  background-color: #f5f5f5;
  display         : flex;
  flex-wrap       : wrap;
  justify-content : space-between;
  margin          : 0;
  padding         : 50px;
}

.reviews-head {
  color     : #445161;
  font-size : 30px;
  width     : 100%;
  text-align: center;
  margin    : 0 0 35px;
}

.reviews-item {
  display        : flex;
  justify-content: space-between;
  width          : 49%;
}

.reviews-item:nth-child(2),
.reviews-item:nth-child(3) {
  margin-bottom: 24px;
}

.reviews-img {
  width           : 75px;
  height          : 75px;
  background-color: #445161;
  border-radius   : 50%;
}

.reviews-text_p {
  margin          : 0;
  color           : #333333;
  font-style      : italic;
  font-size       : 14px;
  line-height     : 18px;
  width           : 82%;
  background-color: #ebebeb;
  box-sizing      : border-box;
  padding         : 16px;
  border-radius   : 5px;
  position        : relative;
}

.reviews-text_p::before {
  position    : absolute;
  content     : "";
  display     : block;
  border      : 13px solid transparent;
  border-right: 13px solid #ebebeb;
  top         : 25px;
  left        : -26px;
}

.reviews-text_a {
  text-decoration: none;
  color          : #989898;
  font-size      : 14px;
  line-height    : 18px;
  display        : block;
  margin-top     : 15px;
}

.price {
  display        : flex;
  flex-wrap      : wrap;
  justify-content: center;
  align-items    : flex-end;
  padding        : 50px 0;
}

.price-head {
  width      : 100%;
  text-align : center;
  margin     : 0 0 29px 0;
  font-size  : 30px;
  line-height: 36px;
  font-weight: normal;
  color      : #445162;
}

.price-item {
  border          : 2px solid #445162;
  background-color: #445162;
  color           : #ffffff;
  border-radius   : 7px;
  margin-right    : 45px;
  width           : 300px;
  padding         : 0 0 10px 0;
  box-sizing      : border-box;
}

.price-item:last-child {
  margin-right: 0;
}

.price-item-head {
  text-align : center;
  box-sizing : border-box;
  font-size  : 24px;
  line-height: 30px;
  margin     : 0;
  padding    : 16px;
  font-weight: normal;
}

.price-cost {
  font-size       : 40px;
  line-height     : 30px;
  color           : #445162;
  background-color: #ffffff;
  display         : inline-block;
  padding         : 18px;
  box-sizing      : border-box;
  text-align      : center;
  width           : 100%;
}

.price-list {
  font-size          : 14px;
  line-height        : 24px;
  margin             : 20px 0 0 0;
  padding            : 0 0 0 20px;
  box-sizing         : border-box;
  list-style-position: inside;
}

.price-button {
  text-align      : center;
  width           : 260px;
  min-height      : 40px;
  display         : block;
  background-color: #ffffff;
  color           : #445162;
  border-radius   : 7px;
  margin          : 20px auto 0;
  font-size       : 18px;
  line-height     : 18px;
  font-weight     : bold;
  text-transform  : uppercase;
}

.price-button:hover {
  color           : #ffffff;
  background-color: #445162;
}

.price-button:active {
  color           : red;
  background-color: #ffffff;
}

.footer {
  display         : flex;
  flex-wrap       : wrap;
  justify-content : center;
  box-sizing      : border-box;
  background-color: #445162;
  width           : 100%;
  padding         : 53px;
}

.footer_header {
  width      : 100%;
  text-align : center;
  margin     : 0 0 31px;
  color      : #ffffff;
  font-size  : 30px;
  line-height: 36px;
}

.footer_form {
  width          : 500px;
  margin         : 0 45px 0 0;
  display        : flex;
  flex-wrap      : wrap;
  justify-content: center;
}

.footer_form_item {
  width        : 100%;
  margin       : 0 0 21px;
  box-sizing   : border-box;
  border-radius: 7px;
  height       : 40px;
  padding      : 10px;
  font-size    : 16px;
  line-height  : 24px;
  font-family  : Arial;
}

.footer_form textarea {
  height: 170px;
}

.footer_form_batton {
  border-radius : 7px;
  width         : 140px;
  height        : 40px;
  text-transform: uppercase;
  color         : #445162;
  font-size     : 16px;
  line-height   : 24px;
  font-weight   : bold;
}

.footer_form_batton:hover {
  background-color: #445162;
  color           : #ffffff;
}

.footer_form_batton:active {
  background-color: #ffffff;
  color           : #445162;
}

.footer_contacts_item {
  width   : 100%;
  display : block;
  color   : #ffffff;
  margin  : 5px 25px 25px;
  position: relative;
}

.footer_contacts_item::before {
  content            : "";
  display            : block;
  width              : 24px;
  height             : 24px;
  box-sizing         : border-box;
  background-position: center;
  background-repeat  : no-repeat;
  background-size    : cover;
  position           : absolute;
  top                : -5px;
  left               : -28px;
}

.footer_contacts_item:nth-child(1)::before {
  background-image: url('../img/skype_icon.png');
}

.footer_contacts_item:nth-child(2)::before {
  background-image: url('../img/icq_icon.png');
}

.footer_contacts_item:nth-child(3)::before {
  background-image: url('../img/email_icon.png');
}

.footer_contacts_item:nth-child(4)::before {
  background-image: url('../img/phone_icon.png');
}



.footer_contacts_icons {
  display        : flex;
  justify-content: space-between;
  box-sizing     : border-box;
}

.footer_contacts_icon {
  width       : 43px;
  height      : 42px;
  box-sizing  : border-box;
  margin-right: 5px;
}

.footer_contacts_icon:nth-child(1) {
  background-image   : url('../img/social_buttons.png');
  background-position: 0px 0px;
}

.footer_contacts_icon:nth-child(2) {
  background-image   : url('../img/social_buttons.png');
  background-position: -50px 0px;
}

.footer_contacts_icon:nth-child(3) {
  background-image   : url('../img/social_buttons.png');
  background-position: -99px 0px;
}

.footer_contacts_icon:nth-child(4) {
  background-image   : url('../img/social_buttons.png');
  background-position: -149px 0px;
}

.footer_contacts_icon:nth-child(5) {
  background-image   : url('../img/social_buttons.png');
  background-position: -198px 0px;
}

.copyright {
  text-align: center;
  font-size : 12px;
}